*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    background: #080808;
}
a{
    text-decoration: none;
}
ul, li{
    list-style: none;
}
:root{
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Taviraj', serif;
    --font-heading: 'Heebo', sans-serif;
    --color-beige: #E8D3B9;
}
.container{
    width: 80%;
    margin: 5% auto;
}
.img-wrapper img{
    width: 100%;
}
.sidebar-hidden{
    transform: translate(50%, -100%) scale(0, 0);
    filter: blur(25px);
    opacity: 0;
    border-radius: 100px;
}
.btn-hide{
    color: white;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 2% 3.5%;
}
