.spec-card{
    width: 30%;
    margin: 25px 0;
    display: flex;
    flex-flow: column;
    font-family: var(--font-primary);
    align-items: flex-start;
}
.spec-card h3{
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    margin: 15px 0;
    font-size: 1.5rem;
}
.spec-card p{
    color: #808080;
    font-size: 1.15rem;
    width: 75%;
}