.card{
    height: 500px;
    color: black;
    width: 130%;
    background: white;
    margin: 25px -15%;
    border-radius: 15px;
    text-align: center;
    border: 1px solid white;
}

@media screen and (max-width: 500px) {
    .card{
        width: 140%;
        height: 400px;
        margin: 25px -20%;
    }
}