.product-container{
    background: rgb(8,8,8);
    background: linear-gradient(0deg, rgba(8,8,8,1) 0%, rgba(68,68,68,1) 50%, rgba(8,8,8,1) 100%);
    width: 100%;
    height: 80vh;    
    padding: 25% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-container .img-wrapper{
    width: 30%;
}
.product-container .product-body{
    width: 50%;
    font-family: var(--font-primary);
    color: white;
}
.product-container .product-body h1{
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 2rem;
}
span.model{
    font-weight: 900;
    font-size: 4rem;
}
.product-container .product-body .product-price{
    display: flex;
    margin: 25px 0;
    justify-content: start;
    align-items: center;
}
.product-container .product-body .product-price p{
    font-weight: 700;  
    font-size: 2rem;
    margin-right: 50px;
}
.product-container .product-body .product-price button{
    background: transparent;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    font-family: var(--font-primary);
    border: 1px solid white;
    width: 50%;
    transition: .5s;
    padding: 10px 0;
}
.product-container .product-body .product-price button:hover{
    border-color: var(--color-beige);
    background: var(--color-beige);
    color: black;
}
.product-container .product-body .product-description{
    width: 90%;
    margin-top: 15px;
    font-size: 1.25rem;
    line-height: 2rem;
}
.specs-section h2, .related-section h2{
    color: white;
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: var(--font-heading);
}
.specs-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    justify-content: space-between;
    align-items: center;
}
.related-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 678px) {
    .product-container{
        flex-flow: column;
        height: unset;
    }
    .product-container .product-body .product-price{
        flex-flow: column;
    }
    .product-container .product-body .product-price p{
        margin: 0;
        margin-bottom: 25px;
    }
    .product-container .product-body .product-price button{
        width: 100%;
    }
    .product-container .img-wrapper, .product-container .product-body{
        width: 90%;
    }
    .specs-container{
        flex-flow: column;
    }
    .specs-section h2, .related-section h2{
        text-align: center;
    }
    .related-container{
        flex-flow: column;
    }
}