*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    background: #080808;
}
:root{
    --font-primary: 'Montserrat', sans-serif;
    --font-heading: 'Playfair Display', serif;

    --color-beige: #E8D3B9
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/omega-hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}
.hero::before{
     content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
}
span.hero-bold{
    font-weight: 900;
    position: relative;
}

.hero-text{
    color: white;
    position: absolute;
    top: 30%;
    left: 10%;
}
.hero-text h1{
    font-family: var(--font-heading);
    font-size: 5rem;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
}
.hero-text p{
    max-width: 35%;
    font-family: var(--font-primary);
    margin-bottom: 10px;
    font-size: 1.25rem;
}
.hero-text label{
    font-family: var(--font-primary);
    font-size: 2rem;
}
.btn-cta{
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background: transparent;
    border: 1px solid var(--color-beige);
    text-transform: uppercase;
    padding: 15px 100px;
    font-family: var(--font-heading);
    font-size: 1.15rem;
    color: var(--color-beige);
    transition: all .5s ease;
}
.btn-cta:hover{
    color: black;
    letter-spacing: 2.5px;
    font-weight: 700;
    background-color: var(--color-beige);
}

section{
    margin: 10% 0;
}
.section-title{
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-heading);
    font-size: 3rem;
    color: white;
    margin: 3% 0;
}
.brands-container{
    width: 70%;
    display: flex;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.brands-container img{
    max-width: 15%;
}

#favourites{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.favourites-hero{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url('../../assets/favourites.jpg');
    position: relative;
}

@media screen and (max-width: 678px) {
    .hero{
        background-image: url("../../assets/omega-hero.jpg");
    }
    body{
        background: #080808;
    }
    .hero-text{
        top: 65%;
        left: unset;
        width: 100%;
        text-align: center;
        position: relative;
        padding: 10% 0;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    .hero-text h1{
        max-width: unset;
        font-size: 35px;
    }
    .hero-text p{
        width: 90%;
        max-width: unset;
        margin: 0 5%;
        margin-bottom: 20px;
    }
    .hero-text .btn-cta{
        padding: 10px 80px;
    }
    section{
        margin: 25% 0;
    }
    .section-title{
        font-size: 2rem;
    }
    .brands-container{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .brands-container img{
        margin: 5%;
        max-width: 35%;
    }
    .favourites-hero{
        height: 75vh;
        background-position: right;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/favourites.jpg');;
    }
}