.store-card{
    width: 30%;
    height: 600px;
    /* border: 1px solid white; */
    box-shadow: 0px 0px 25px 5px rgba(255, 255, 255, 0.25);
    color: white;
    font-family: var(--font-primary);
    font-size: 24px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
}
.store-card .img-wrapper{
    margin: auto 0;
    width: 60%;
    cursor: pointer;
    padding: 10px;
    transition: .5s;
}
.store-card .img-wrapper:hover{
    transform: scale(1.15);
}
.store-card h1{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
    width: 80%;
    margin: 0 auto;
}
.store-card .card-body{
    width: 100%;
    margin-top: 25px;
}
.store-card button{
    margin-top: 25px;
    width: 100%;
    background: transparent;
    border-top: 1px solid white;
    font-size: 1.5rem;
    padding: 10px;
    font-family: var(--font-primary);
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}
.store-card button:hover{
    background: var(--color-beige);
    color: black;
    font-weight: 700;
}

.related-card{
    background: #444444;
    box-shadow: 15px 15px 15px 0px rgba(255, 255, 255, 0.15);
    border: none;
    height: auto;
    transition: .5s;
    max-height: 500px;
}
.related-card:hover{
    background: #45454580;
    
}
.related-card .img-wrapper{
    width: 50%;
}
.related-card h1{
    text-transform: capitalize;
    font-family: var(--font-primary);
    font-size: 1.75rem;
}
.related-card button{
    border: none;
    color: #808080;
}

@media screen and (max-width: 678px) {
    .store-card{
        width: 90%;
    }
}
