.sidebar{
    height: 100%;
    background: #080808;
    width: 100%;
    position: absolute;
    transition: .5s ease-in-out;
    z-index: 10;
    color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
}
.sidebar-links{
    box-sizing: unset;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    list-style: none;
}
.sidebar-links li{
    margin: 5rem 25%;
    position: relative;
}
.sidebar-links li::after{
    content: '';
    position: absolute;
    transition: all .2s ease-in-out;
    width: 0;
    height: 10px;
    bottom: -10px;
    left: 0;
    background: var(--color-beige);
}
.sidebar-links li:hover:after{
    width: 100%;
}
.sidebar-link{
    color: white;
    font-size: 5rem;
    text-decoration: none;
    font-family: var(--font-primary);
    text-transform: uppercase;
}

@media screen and (max-width:500px) {
    .sidebar{
        width: 100%;
        margin: 0;
    }
    .sidebar-link{
        font-size: 3rem;
    }
}