.burger{
    width: 30px;
    height: 15px;
    display: flex;
    flex-flow: column;
    cursor: pointer;
    justify-content: space-between;
}
.burger .burger-line{
    background: white;
    height: 1px;
    width: 100%;
}