.burger{
    width: 30px;
    height: 20px;
    display: flex;
    flex-flow: column;
    cursor: pointer;
    align-items: flex-end;
    justify-content: space-between;
}
.burger .burger-line{
    background: white;
    height: 1px;
    width: 100%;
}
.burger .burger-line:nth-child(2){
    width: 75%;
}
.burger .burger-line:nth-child(3){
    width: 50%;
}